---
layout: default
---

<link rel="stylesheet" type="text/css" href="{{ site.jsxurl }}/jsxgraph.css" />
<script type="text/javascript" src="{{ site.jsxurl }}/jsxgraphcore.js"></script>
<nav id='sidebar'>
	{% include nav4016.html %}
</nav>

<section id='content'>
{% for post in site.categories.Klausur2016IIHaupttermin %}
  <article class='{{ post.type }}'>
    <a name='{{ post.url }}' href='#{{ post.url }}'><h2>{% if post.type %}<code><b>{{ post.type }}</b> </code> {% endif %}{{ post.title }}</h2></a>
    <section class='body'>
      {{ post.content }}
    </section>
  </article>
{% endfor %}
</section>
